---
export function getStaticPaths() {
  return [{ params: { locale: "zh-cn" } }, { params: { locale: "en" } }];
}

import { useTranslation } from "../../i18n";
import Layout from "../../layouts/Layout.astro";
const t = await useTranslation(Astro.currentLocale);
---

<Layout>
  <div>Lorem ipsum dolor sit amet: {Astro.currentLocale} {t("test")}</div>
</Layout>
