name: CI

on:
  - push
  - pull_request
jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        name: Setup Node.js
        with:
          node-version: "22"
          cache: "pnpm"
      - uses: pnpm/action-setup@v4
        name: Install pnpm
      - name: Install dependencies
        run: pnpm install
      - name: Lint
        run: pnpm lint
      - name: Test
        run: pnpm test
      - name: Build
        run: pnpm build
