name: "Auto Format SOP"
on:
  pull_request_target: { paths: ["docs/**"] }

jobs:
  format-code:
    runs-on: ubuntu-latest
    permissions: { contents: write }
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}

      - uses: pnpm/action-setup@v4
        name: Install pnpm

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Format codebase
        run: pnpm format

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto format SOP"
